<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="timers" type="TimeMaster.TimerConfigurationSection, TimeMaster" />
    </configSections>
    <timers>
        <add name="GoToBed" time="23:50:00" isActive="true" autoCloseTip="false"
             tipLine1="还有{0}秒就凌晨了" tipLine2="不要熬夜，赶快上床睡觉" />
        <add name="MorningMeeting" time="09:30:00" isActive="false" autoCloseTip="true"
             tipLine1="会议即将开始，还有{0}秒" tipLine2="请准备会议材料" />
    </timers>
</configuration>